<h1>Listing articulos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Contenido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articulos.each do |articulo| %>
  <tr>
    <td><%= articulo.nombre %></td>
    <td><%= articulo.contenido %></td>
    <td><%= link_to 'Show', articulo %></td>
    <td><%= link_to 'Edit', edit_articulo_path(articulo) %></td>
    <td><%= link_to 'Destroy', articulo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Articulo', new_articulo_path %>
